.ugto-blue{
	background-color: #024A74 !important;
}
.container{
	height: 100vh !important;
}
.divider{
	border-color: #f44336;
	background-color: #f44336;
	height: 4px;
}
.login-input{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;

}
.title{
	text-align: center;
}
.pdf-button{
	width: 8.3%;
	margin: 1px;
}
.pdf-input{
	width: 18%;
}
.quote{
	height: 100%;
	width: 100%;
	border: 2px solid #024A74;
	background-color: #024A74;
	border-radius: 12px;
	color: white;
	padding-left: 10%;
	font-size: 1em;
}
.pdf-content{
	padding-right: 25%;
	text-align: justify;
	padding-left: 5%;
}