<div class="wrapper" ng-controller="RdrCtrl">
  <h1 class="title">{{pdfName}}</h1>
  <nav ng-class="getNavStyle(scroll)" class="">
  <md-button ng-click="goPrevious()" class="md-raised pdf-button"><md-icon aria-label="Menu" class="material-icons">keyboard_arrow_left</md-icon></md-button>
  <md-button ng-click="goNext()" class="md-raised pdf-button"><md-icon aria-label="Menu" class="material-icons">keyboard_arrow_right</md-icon></md-button>

  <md-button ng-click="zoomIn()" class="md-raised md- pdf-button"><md-icon aria-label="Menu" 	class="material-icons">add</md-icon></md-button>
  <md-button ng-click="fit()" class="md-raised pdf-button">100%</span></md-button>
  <md-button ng-click="zoomOut()" class="md-raised pdf-button"><md-icon aria-label="Menu" class="material-icons">remove</md-icon></md-button>

  <md-button ng-click="rotate()" class="md-raised pdf-button">90</span></md-button>

  
  <md-input-container class="pdf-input">
  	<label>Página: </label>
  	<input type="text" min=1 ng-model="pageNum">
  	<span> de  {{pageCount}}</span>
  </md-input-container>
  

  &nbsp;&nbsp;
  <md-input-container class="pdf-input">
	  <label>Document URL: </label>
	  <input type="text" ng-model="pdfUrl">
  </md-input-container>
</nav>

	<hr class="divider">

	<p class="pdf-content">“Bitwise operation Sequences of bits may be manipulated using Boolean logical operators. When a string of binary symbols is manipulated in this way, it is called a bitwise operation; the logical operators AND, OR, and XOR may be performed on corresponding bits in two binary numerals provided as input. The logical NOT operation may be performed on individual bits in a single binary numeral provided as input. Sometimes, such operations may be used as arithmetic short-cuts, and may have other computational benefits as well. For example, an arithmetic shift left of a binary number is the equivalent of multiplication by a (positive, integral) power of 2”. </p>
	<p class="pdf-content">Texto extraído de https://en.wikipedia.org/wiki/Binary_number</p>
	<canvas id="pdf" class="rotate0"></canvas>

	<div class="quote" id="quote">
		<md-button class="md-icon-button toolbar-button" id="define" aria-label="More">
        	<md-icon aria-label="Menu" class="material-icons white-text">search</md-icon>
        	<md-tooltip md-direction="top">
          		Search Definition	
       		</md-tooltip>
      	</md-button>
      	<md-menu>
          <md-button aria-label="Open demo menu" class="md-icon-button toolbar-button" id=highlight ng-click="$mdOpenMenu($event)">
            <md-icon aria-label="Menu" class="material-icons white-text">border_color</md-icon>
            <md-tooltip md-direction="top">
          		Highlight	
       		</md-tooltip>
          </md-button>
          <md-menu-content width="6">
          	<h4>Why did you highlight this text?</h4>

          	<md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button id="hlOpt1">
                <md-icon md-menu-align-target>sentiment_dissatisfied</md-icon>
                	<span>I didn't understand anything</span>
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button id="hlOpt2">
                <md-icon md-menu-align-target>sentiment_neutral</md-icon>
                <span>I understand the words but not the context</span>
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button id="hlOpt3">
                <md-icon md-menu-align-target>sentiment_satisfied</md-icon>
                <span>I think is important</span>
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

          </md-menu-content>
        </md-menu>
      	<md-button class="md-icon-button toolbar-button" aria-label="More">
        	<md-icon aria-label="Menu" class="material-icons white-text">insert_comment</md-icon>
        	<md-tooltip md-direction="top">
          		Add Note	
       		</md-tooltip>
      	</md-button>
      	
		<h3 class="word-title">{{word}}</h3>
		<p class="word-content">{{definition}}</p>
	</div>{{ejemplo.dato}}
</div>